[submodule "src/tracker/extern/fmt"]
	path = src/tracker/extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/tracker/extern/glm"]
	path = src/tracker/extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/tracker/extern/glfw"]
	path = src/tracker/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/tracker/extern/json"]
	path = src/tracker/extern/json
	url = https://github.com/nlohmann/json.git
[submodule "src/tracker/extern/googletest"]
	path = src/tracker/extern/googletest
	url = https://github.com/google/googletest.git
